
html {
    scroll-behavior: smooth;
  }
  
  #particles-js{
      height: 100vh;
      width: 63%;
      position: fixed;
      top: 0;
      right: 0;
      z-index: -1;
      }

  #formulario2 {
    display: none;
}
#encabezado {
    display: none;
}
    .hero,
    .parte2 {
    position: relative;
    z-index: 1;
}
/* /////////////////////////////////////////////////////SECCION 2 - FORMULARIO///////////////////////////////////////////////////////// */


:root {
    --colorDeTextos: #49454567;
}


*,
::before,
::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.parte2{
padding: 50px;
background: linear-gradient(245.59deg, #4d9559 0%, #35703d 28.53%, #133917 75.52%);
font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
background: #d53369;  
background: -webkit-linear-gradient(to right, #cbad6d, #d53369); 
background: linear-gradient(to right, #0baa7b, #d53369);
height: 750px;
display: flex;
justify-content: center;
align-items: center;
}

.parte2 h1{
    text-align: center;
    font-weight: 1200;
}

form {
    transform: scale(0.7);
    position: absolute;
    background: #fff;
    padding: 40px 0;
    box-shadow: 0 0 6px 0 rgba(255, 255, 255, 0.8);
    border-radius: 10px;
    margin-right: 1100px; 
}

.form{
    width: 100%;
    margin: auto;
}

form .grupo{
    position: relative;
    margin: 45px ;
}

.formVehiculo  {
    transform: scale(0.9);
    position: relative;
    background: #fff;
    padding: 40px 0;
    box-shadow: 0 0 6px 0 rgba(255, 255, 255, 0.8);
    border-radius: 10px;
    top: -535px;
    left: 350px; 
    margin-bottom: -560px; 
  } 

input{
    background: none;
    color: #c6c6c6;
    font-size: 18px;
    padding: 10px 10px 10px 5px;
    display: block;
    width: 100%;
    border: none;
    border-bottom: 1px solid var(--colorDeTextos);
}

input:focus{ 
    outline: none;
    color: #5e5d5d;
}

label{
    color: var(--colorTextos);
    font-size: 16px;
    position: absolute;
    left: 5px;
    top: 10px;
    transition: 0.5s ease all;
    pointer-events: none;
}

input:focus~label,
input:valid~label{
    top: -14px;
    font-size: 12px;
    color: #2196f3;
}

.barra{
    position: relative;
    display: block;
    width: 100%;
}

.barra::before{
    content: "";
    height: 2px;
    width: 0%;
    bottom: 0;
    position: absolute;
    background: linear-gradient(to right, #B06AB3, #4568DC);
    transition: 0.3s ease width;
    left: 0;
}

input:focus~.barra::before{
    width: 100%;
}

.warnings{
    width: 200px;
    text-align: center;
    margin: auto;
    color: #B06AB3;
    padding-top: 20px;
}

button{
    font-family: 'roboto';
    background: #4568DC;
    background: -webkit-linear-gradient(to right, #B06AB3, #4568DC);
    background: linear-gradient(to right, #B06AB3, #4568DC);
    border: none;
    display: block;
    width: 80%;
    margin: 10px auto;
    color: #fff;
    height: 40px;
    font-size: 16px;
    cursor: pointer;
}

@media screen and (max-width:500px){
    form{
        width: 80%;
    }
}
@media screen and (max-width:500px){
    .formulario-adicional{
        width: 80%;
    }
}

/* ///////////////////////////////////////////////////////////////////////////////////////////////////// */
.parte2 {
    position: relative;
    overflow: hidden; 
    
  }
  
#container {
    max-height: 1000px;
    overflow-y: auto;
    margin-left: 200px;
    min-height: 200px;
    margin-left: 400px;
    margin-top: -400px;
}
  
table {
/*     bottom: 100px;
    transform: scale(0.6);
    color: white;
    font-size: 30px;
    table-layout: fixed;
    border-collapse: collapse;
    margin-top: -900px; */
    bottom: 100px;
    transform: scale(0.8);
    color: white;
    font-size: 30px;
    table-layout: fixed;
    border-collapse: collapse;
    margin-top: -80px;
    
}



#container::-webkit-scrollbar {
    width: 20px; 
    margin-left: 20%;
  }
  
#container::-webkit-scrollbar-thumb {
    background-color: #6eb396; 
    border-radius: 6px; 
    
  }
  
#container::-webkit-scrollbar-track {
    background-color: #a39b9b; 
  }

thead {
    position: sticky;
    /* top: 0; */
    background: rgb(243, 130, 200, 0.4);
}

th{
    transform: scale(0.8);
    padding: 15px 100px;
    font-weight: 500;
}

td{
    transform: scale(0.8);
    padding: 15px;
    border-bottom: solid 1px  rgb(243, 130, 200, 0.4);
}

tbody tr:hover{
    background:  rgb(243, 130, 200, 0.4);
}
tbody tr {
    cursor: pointer;
}

.container {
    border: solid 1px;
}

.formulario-adicional {
    position: fixed;
    top: 0%;
    right: 0;
    transform: translateY(-50%);
    width: 50%;
    height: 50%;
    background-color: #fff;
    border: 1px solid #000;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  }
  
  .formulario-adicional h1 {
    margin-top: 0;
  }
  
  .formulario-adicional.grupo {
    margin-bottom: 20px;
  }
  
  .formulario-adicional label {
    display: block;
    margin-bottom: 5px;
  }
  
  .formulario-adicional input[type="text"],
  .formulario-adicional input[type="number"] {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
  }
  
  .formulario-adicional button[type="submit"] {
    display: block;
    margin-top: 20px;
    padding: 10px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  

@keyframes fadeIn {
    from {
    opacity: 0;
    }
    to {
    opacity: 1;
    }
  }
  
  .tabla-con-fade {
    animation: fadeIn 2s;
  }
  
  #segundoFormulario {
    opacity: 0;
    animation: fadeIn 0.5s;
  }

/* ///////////////////////////////////////////////////////SECCION 1 - INICIO///////////////////////////////////////////////////////////////////////////// */
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    list-style: none;
    text-decoration: none;
}

header{
    position:fixed;
    right: 0;
    top: 0;
    z-index: 1000;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 33px 9%;
    background: transparent;
}


.logo {
    font-size: 30 px;
    font-weight: 700;
    color: white;
}

.navlist{
    display: flex;
}

.navlist a {
    color: white;
    margin-left: 60px;
    font-size: 15px;
    font-weight: 600;
    border-bottom: 2px solid transparent;
    transition: all .60s ease;
}

.navlist a:hover {
    border-bottom: 2px solid white;
}

#menuicono{
    color: white;
    font-size: 30px;
    z-index: 10001;
    cursor: pointer;
}

.hero{
    height: 100%;
    width: 100%;
    min-height: 100vh;
    background: linear-gradient(to right, #0baa7b, #d53369);
    position: relative;
    display: grid;
    grid-template-columns: repeat(2,1fr);
    align-items: center;
    gap: 2rem;
}

section{
    padding: 0 19%;
}
/* .hero-text h5{
    font-size: 14px;
    font-weight:400;
    color:white;
    margin-bottom: 40px;
} */
.hero-text h1{
    font-family: 'Courier New', Courier, monospace;
    font-size: 90px;
    line-height: 1;
    color: white;
    margin: 0 0 4;
}

.hero-text h4{
    font-family: 'Courier New', Courier, monospace;
    font-size: 18px;
    font-weight: 600;
    color: white;
    margin-bottom: 10px;
}

.hero-text p{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;   
    font-size: 15px;
    line-height: 1.9;
    font-weight: 600;
    color: white;
    margin-bottom: 40px;
}

.hero-img img{
    width: 700px;
    height: auto;
}

.hero-text a{
    display: inline-block;
    color: white;
    background-color: #4d9559;
    border: 1px solid transparent;
    padding: 12px 30px;
    line-height: 1.4;
    font-size: 14px;
    font-weight: 500;
    border-radius: 30px;
    text-transform: uppercase;
    transition: all .55s ease;
}

.hero-text a:hover{
    background: transparent;
    border: 2px solid rgb(34, 152, 191);
}

/* .hero-text a.ctaa{
    background: transparent;
    border: 1px solid white;
    margin-left: 20px;
}

.hero-text a.ctaa i{
    vertical-align: middle;
    margin-right: 5px;
}
 */

.icons{
   position: absolute;
   top: 50%; 
   padding: 0 9%;
   transform: translateY(-50%);
}

.icons i {
   display: block;
   margin: 40px 0;
   font-size: 24px;
   color: white;
   transition: all .50s ease;
}
.icons i:hover {
color: #4d9559;
transform: translateY(-5px);
}

.scroll-down{
    position: absolute;
    bottom: 6%;
    right: 9%;
}
.scroll-down i{
    display: block;
    padding: 12px;
    font-size: 25px;
    color: white;
    background: #4d9559;
    border-radius: 30px;
    transition: all .50s ease;
}
.scroll-down i:hover{
    transform: translateY(-5px);
}

@media (max-width: 1535px) {
    header {
        padding: 15px 3px;
        transition: .2s;
    }
    .icons{
        padding: 0 3px;
        transition: .2s;
    }
    .scroll-down{
        right: 3%;
        transition: .2s;
    }
}

@media (max-width: 1460px) {
    section {
        padding: 0 12px;
        transition: .2s;
    }
}
@media (max-width: 1340px) {
    .hero-img img{
        width: 100%;
        height: auto;
    }
    .hero-text h1{
        font-size: 75%;
        margin: 0 0 30px
    }
    .hero-text h5{
        margin-bottom: 25px;
    }
}
@media (max-width: 1195px) {
    section{
        padding: 0 3%;
        transition: .2s;
    }
    .hero-text {
        padding-top: 115px;
    }
    .hero-img{
        text-align: center;
    }
    .hero-img img {
        width: 560px;
        height: auto;
    }
    .hero{
        height: 100%;
        gap:1rem;
        grid-template-columns: 1fr;
    }
    .icons{
        display: block;
    }
    .scroll-down{
        display: none;
    }
}

@media (max-width: 990px) {
    #menuicono{
        display: block;
    }
.navlist{
    position: absolute;
    top: 100%;
    right: -100%;
    width: 300px;
    height: 40vh;
    background: #4d9559;
    display: flex;
    align-items: center;
    flex-direction: column;
    padding: 50px 20px;
    transition: all .55s ease;
}
.navlist a{
    margin-left: 0;
    display: block;
    margin: 7px 0;
}
.navlist.open{
    right: 0;
}
}

@media (max-width: 680px) {
    .hero-img img {
        width: 100%;
        height: auto;
    }
}

@media (max-width: 680px) {
    .hero-img img {
        width: 100%;
        height: auto;
    }
}

.seccion3{
    background: red;
}

.seccion3 h1{
    color: #0baa7b;
}

/* ///////////////////////////////////////////////CONVERSOR//////////////////////////////////////////////// */

.seccionconversor{
    background: linear-gradient(to right, #0baa7b, #d53369);
    font-family: Arial, Helvetica, sans-serif;
    background-color: #f4f4f4;
    display: flex;
    flex-direction: column;
    align-items: left;
    justify-content: left;
    height: 100vh;
    margin: 0;
    padding: 20px;
}

:root {
    --primary-color: #f5ce52;
}

*{
    box-sizing: border-box;
}



/* ///////////////////////////////////////////////CONVERSOR//////////////////////////////////////////////// */